@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", "Helvetica Neue", "Helvetica";
}

p {
    font-family: 'Roboto';
}

span {
    color: #3D4F9F;
    font-weight: bold;
}

.container {
    max-width: 888px;
    margin: 0 auto;
}

.center {
    width: calc(100% - 117px);
}

header {
    background: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 27px;
}

.logo {
    width: 26px;
    height: 26px;
    margin-right: 73px;
    margin-left: 117px;
}

.header__list {
    flex-grow: 1;
}

.header__list ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.header__list ul>li a {
    text-decoration: none;
    color: #697CA6;
    text-shadow: 0px 0px 5px #E6E6E6;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.header__list ul>li a:active {
    font-weight: 700;
    color: #5E81FE;
    text-shadow: 0px 0px 5px #E6E6E6;
}

.header__list li {
    margin-right: 42px;
}

.header__list li:last-child {
    margin-right: 0;
}

.header__social-media {
    display: flex;
    align-items: center;
    margin-right: 117px;
}

.header__social-media a {
    margin-right: 34px;
}

.header__social-media a:hover {
    filter: saturate(11);
}

.header__btn {
    margin-left: 10px;
    padding: 13px 16px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #697CA6;
    background-color: #D6DAE5;
    border-radius: 2px;
    border: none;
}

.content {
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;
    max-height: 570px;
}

.content__text {
    text-align: center;
    /* position: relative; */
}

.content-par {
    padding-top: 92px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.content__h1 {
    padding-top: 16px;
    padding-bottom: 28px;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #8D96BD;
}

.content__par {
    margin: 0 auto;
    max-width: 502px;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.content-btn {
    display: flex;
    justify-content: center;
}

.content__btn {
    position: absolute;
    top: 55%;
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(201, 209, 231, 0.6);
}

.animation-content__btn {
    -webkit-animation: animation-content__btn 0.5s linear both;
    animation: animation-content__btn 0.5s linear both;
    transition: all 3s ease;
    box-shadow: 0px 10px 50px rgba(108, 129, 188, 0.6);
}

@-webkit-keyframes animation-content__btn {
    0% {
        -webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
    }

    50% {
        -webkit-transform: scale(1.5) rotateX(-90deg);
        transform: scale(1.5) rotateX(-90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateX(-180deg);
        transform: scale(1) rotateX(-180deg);
    }
}

@keyframes animation-content__btn {
    0% {
        -webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
    }

    50% {
        -webkit-transform: scale(1.5) rotateX(-90deg);
        transform: scale(1.5) rotateX(-90deg);
    }

    100% {
        -webkit-transform: scale(1) rotateX(-180deg);
        transform: scale(1) rotateX(-180deg);
    }
}

.content__line {
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    margin-top: -14%;
}

.costumers {
    border-bottom: 1px solid #D8E3FE;
    background: #FFFFFF;
}

.costumers-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 58px;
}

.illustration {
    background: #F5F8FF;
    border-bottom: 1px solid #D8E3FE;
}

.illustration-par {
    padding-top: 208px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.illustration__h2 {
    padding-top: 27px;
    padding-bottom: 27px;
    color: #3D4F9F;
    font-weight: 400;
}

.illustration__par {
    max-width: 420px;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    padding-bottom: 47px;
}

.illustration__btn {
    padding: 13px 25px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    background: #4C85FF;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);

    transition: all 0.5s ease;
}

.color {
    background-color: #3D4F9F;
}

.arrow {
    padding: 0 6px 0 6px;
}

.illustration-btn {
    padding: 12px 21px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ADB4D2;
    background-color: #F5F8FF;
    border: 1px solid #D1D1E4;
    display: inline-block;
    margin-right: 0;
    transition: all 0.5s ease;
}

.illustration__form {
    letter-spacing: -4.5px;
    margin-bottom: 269px;
}

.illustration__img {
    position: relative;
    top: 120px;
}

.illustration-phone-2 {
    position: absolute;
    left: 600px;
}

.illustration-phone-3,
.illustration-phone-1 {
    position: absolute;
}

.illustration-phone-3 {
    top: 82px;
    left: 1070px;
}

.illustration-phone-1 {
    z-index: 2;
    top: 100px;
    left: 712px;
}

.active-img {
    -webkit-animation: active-img 0.3s linear infinite both;
    animation: active-img 0.3s linear infinite both;
}

@-webkit-keyframes active-img {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes active-img {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.features {
    max-width: 760px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8E3FE;
}

.features__par,
.features__title {
    font-weight: 500;
    color: #3D4F9F;
    text-align: center;
}

.features__par {
    font-family: 'Roboto';
    padding: 171px 0 20px 0;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.features__title {
    font-size: 24px;
    line-height: 30px;
}

.features__cart {
    font-family: 'Open Sans';
    display: flex;
    justify-content: space-between;
}

.features-img {
    margin: 92px 0 33px 36px;
}

.features__h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4074F8;
}

.features-par {
    margin: 25px 0 92px 0;
    padding: 0 0 43px 0;
    max-width: 140px;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
}

.features__transition {
    display: flex;
    justify-content: center;
    padding-bottom: 170px;
}

.features-hr {
    margin: 0 16px 0 16px;
    width: 15px;
    height: 0;
    border: 1px solid #DAE4FE;
    background-color: #DAE4FE;
    align-self: center;
}

.featurs-or {
    align-self: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
}

.features__links {
    padding: 13px 16px;
    text-decoration: none;
    background-color: #FFD7D7;
    border-radius: 2px;
    border: none;
}

.features_span {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #D43F3F;
    transition: all .2s;
}

.features__link {
    padding: 13px 16px;
    text-decoration: none;
    background-color: #D2E1FF;
    border-radius: 2px;
    border: none;
}

.features-span {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
    transition: all .2s;
}

.stats {
    display: flex;
}

.stats__right {
    width: calc(100% / 2);
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    text-align: right;
    padding: 66px 90px 66px 0;
}

.stats__right-par {
    padding-top: 24px;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.stats__right-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.stats__left {
    width: calc(100% / 2);
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    padding: 66px 0 66px 90px;
}

.stats__left-par {
    padding-top: 24px;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: #5E80FF;
}

.stats__left-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #5E80FF;
}

.blog {
    padding-top: 104px;
    background-color: #F5F8FF;
}

.blog__par {
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #3D4F9F;
}

.blog__h4 {
    padding: 20px 0 92px 0;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
}

article {
    display: flex;
    max-width: 958px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 15px 50px #EFF4FF;
}

.blog__info-text {
    justify-content: flex-end;
    max-width: 408px;
    padding-top: 63px;
    margin-right: 41px;
}

.blog__info-h5 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
}

.blog__info-par {
    padding: 32px 0 32px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.blog__info {
    display: flex;
}

.blog__info-link {
    margin-right: 23px;
    padding: 13px 16px;
    text-decoration: none;
    background: #D2E1FF;
    border-radius: 2px;
}

.blog__info-span {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
}

.blog__info-p {
    align-self: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #A6B6DA;
}